.container
{
    background: #b4b8c5;
    border-radius: 10px;



    @media (max-width: 4000px) {
        ul {
            display: flex;
            list-style-type: none;
            li{
                position: relative;
                margin: 0 11%;
            }
        }
    }
    @media (max-width: 1600px) {
        ul {
            display: flex;
            list-style-type: none;
            li{
                position: relative;
                margin: 0 10%;
            }
        }
    }
    @media (max-width: 600px) {
        ul {
            display: flex;
            list-style-type: none;
            li{
                position: relative;
                margin: 0 9%;
            }
        }
    }

    @media (max-width: 400px) {
        ul {
            display: flex;
            list-style-type: none;
            li{
                position: relative;
                margin: 0 8%;
            }
        }
    }

    @media (max-width: 300px) {
        ul {
            display: flex;
            list-style-type: none;
            li{
                position: relative;
                margin: 0 5%;
            }
        }
    }

}

body
{
    background-color: #e9ebf8;
    .grid-container {
        img {
            border-radius: 7px;
            height: 100%;
        }

        border-radius: 7px;
        background-color: #a5a299;
        display: grid;
        padding: 7vh;
        @media (max-width: 1920px)
        {
            grid-auto-rows: minmax(200px, auto);
            grid-template-columns: 1fr 2fr;
            img {
                border-radius: 7px;
                height: 100%;
            }
         img:hover {
            transition: all 300ms;
             transform: scale(1.1);
         }

        }
        @media (max-width: 1600px)
        {
            grid-auto-rows: minmax(175px, auto);
            grid-template-columns: 1fr 1fr ;
            img {
                border-radius: 7px;
                height: 75%;
            }
        }
        @media (max-width: 800px)
        {
            grid-auto-rows: minmax(150px, auto);
            grid-template-columns: 1fr;
            img {
                border-radius: 7px;
                height: 50%;
            }
        }

    }

}